.form-control {
    background-color: var(--background-dark);
    color: white;
    border: none;
    padding: 1.5em;
}

.contact-form .btn {
    background-color: var(--primary-colour);
    border: none;
    width: 100%;
}

.list-group-item {
    background-color: var(--background-dark);
    border-bottom-color: #707070;
}

.list-group-item:last-of-type {
    border-bottom: none;
}

.list-group {
    border-radius: 10px;
    margin-bottom: 2em;
}
