.navbar-brand {
    font-family: "Julius Sans One", sans-serif;
    font-size: 32px;
}

.navbar {
    background-color: var(--nav-colour) !important;
    color: white;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 15px;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: var(--primary-colour);
}

.navbar-collapse {
    z-index: 1;
}
